<div class="flex justify-end mb-6">
    <%= link_to  "新規作成", new_task_path, class: "btn" %>
</div>

<ul >
    <li class="grid grid-cols-3 items-center mt-5 p-4 border-b bg-gray-300">
        <p>タスク名</p>
        <p>タスク内容</p>
        <p>詳細</p>
    </li>
    <% @tasks.each do |t| %>
    <%= link_to task_path(t), class: "block" do %>
    <li class="grid grid-cols-3 items-center p-4 border-b border-gray-200 hover:bg-gray-100">
        <p class=" w-fittext-lg font-medium">
            <%= t.title %>
        </p>
        <p class="w-fit">
            <%= truncate(t.content, length: 11) %>
        </p>
        <p class="p-4 details-btn w-fit block">
            詳細▶︎
        </p>
    </li>
    <% end %>
    <% end %>
</ul>