<div class="h-10 border border-gray-300 rounded px-2 py-1">
  <%= select_tag :order,
    options_for_select(
      [
        ["更新順",     "updated"],
        ["終了期限順", "latest"],
        ["作成順",     "created"]
      ],
      selected: request.params[:order]
    ),
onchange: "window.location.href = '/tasks?order=' + this.value;"  %>
</div>

