<%= form_with url: search_path, method: :get, local: true do |f| %>
<div class="flex gap-2">
    <%
=begin%>
    <%= f.label :title, "タスク名で検索" %>
    <%
=end%>
    <%= f.text_field :title, value: params[:title], placeholder: "タスク名で検索", class: "border border-gray-300 rounded px-2 py-1" %>
    <%= f.submit "検索", class: "bg-amber-500 btn02" %>
</div>

<% end %>