@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .header-logo {
    @apply text-white text-2xl font-normal;
  }
  .btn {
    @apply bg-amber-600 text-white p-4 rounded-xl w-48 text-center;
  }
  .btn02 {
    color: white;
    padding: 0.8rem 1rem;
    border-radius: 0.75rem;
    font-size: 1rem;
    line-height: 1.75rem;
    text-align: center;
    letter-spacing: 1px;
  }
  .btn02:hover {
    -webkit-filter: brightness(0.8);
    filter: brightness(0.8);
  }

  .inline_input {
    @apply border border-gray-300 rounded px-2 py-1;
  }

  .field_with_errors input,
  .field_with_errors textarea,
  .field_with_errors select {
    @apply w-full;
  }
}
