@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .header-logo {
    @apply text-white text-2xl font-normal;
  }

  .btn {
    @apply bg-amber-600 text-white p-4 rounded-xl w-48 text-center;
  }

  .btn02 {
    @apply text-white px-4 py-3 rounded-xl text-base leading-7 tracking-wide;
  }

  .btn02:hover {
    @apply brightness-90;
  }

  .inline_input {
    @apply border border-gray-300 rounded px-2 py-1;
  }
  .series-nav {
    display: flex;
    gap: 8px;
    justify-content: start;
    margin: 1rem 0;
  }
  .series-nav > a {
    padding: 0.5em 1em;
    border-radius: 4px;
    background: #eee;
    color: #333;
  }
  .series-nav > a[aria-current="page"] {
    background: #d97706;
    color: #fff !important;
  }

  .field_with_errors input,
  .field_with_errors textarea,
  .field_with_errors select {
    @apply w-full;
  }

  .signup_form_wrapper {
    @apply max-w-md mx-auto py-10;
  }
  .signup_form_wrapper h2 {
    @apply text-3xl font-bold mb-8 text-center text-amber-600;
  }
  .signup_form {
    @apply bg-white rounded-xl px-8 pt-8 pb-8 mb-4 border border-gray-200;
  }

  .field {
    @apply mb-6 flex items-center justify-between;
  }
  .field > label {
    @apply w-1/3 text-gray-700 font-semibold pr-2;
  }
  .field > input {
    @apply w-2/3 border border-gray-300 rounded px-3 py-2 focus:outline-none focus:ring-2 focus:ring-amber-400;
  }
  .field > input.no-focus {
    @apply focus:ring-transparent;
  }

  .actions {
    @apply flex justify-center mt-6;
  }
  .actions input[type="submit"] {
    @apply btn w-full;
  }
  /* サインアップ時等のリンクdevise/shared/_links.html.erb */
  .link_btn {
    @apply border-b border-transparent hover:border-amber-600 hover:text-amber-600;
  }
}
/* @layer components {
  .series-nav {
    @apply flex gap-2 justify-start my-4;
  }
  .series-nav a {
    @apply px-4 py-2 rounded bg-gray-200 text-gray-700;
  }
  .series-nav a[aria-current="page"] {
    @apply bg-orange-400 text-white;
  }
} */
